<section class="additional-info">
  <h3>{{ _('Additional Info') }}</h3>
  <table class="table table-striped table-bordered table-condensed">
    <thead>
      <tr>
        <th scope="col">{{ _('Field') }}</th>
        <th scope="col">{{ _('Value') }}</th>
      </tr>
    </thead>
    <tbody>
      {% block package_additional_info %}
        {% if pkg_dict.url %}
          <tr>
            <th scope="row" class="dataset-label">{{ _('Source') }}</th>
            {% if h.is_url(pkg_dict.url) %}
              <td class="dataset-details" property="foaf:homepage">{{ h.link_to(pkg_dict.url, pkg_dict.url, rel='foaf:homepage', target='_blank') }}</td>
            {% else %}
              <td class="dataset-details" property="foaf:homepage">{{ pkg_dict.url }}</td>
            {% endif %}
          </tr>
        {% endif %}

        {% if pkg_dict.author_email %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Author") }}</th>
            <td class="dataset-details" property="dc:creator">{{ h.mail_to(email_address=pkg_dict.author_email, name=pkg_dict.author) }}</td>
          </tr>
        {% elif pkg_dict.author %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Author") }}</th>
            <td class="dataset-details" property="dc:creator">{{ pkg_dict.author }}</td>
          </tr>
        {% endif %}

        {% if pkg_dict.maintainer_email %}
          <tr>
            <th scope="row" class="dataset-label">{{ _('Maintainer') }}</th>
            <td class="dataset-details" property="dc:contributor">{{ h.mail_to(email_address=pkg_dict.maintainer_email, name=pkg_dict.maintainer) }}</td>
          </tr>
        {% elif pkg_dict.maintainer %}
          <tr>
            <th scope="row" class="dataset-label">{{ _('Maintainer') }}</th>
            <td class="dataset-details" property="dc:contributor">{{ pkg_dict.maintainer }}</td>
          </tr>
        {% endif %}

        {% if pkg_dict.version %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Version") }}</th>
            <td class="dataset-details">{{ pkg_dict.version }}</td>
          </tr>
        {% endif %}

        {% if h.check_access('package_update',{'id':pkg_dict.id}) %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("State") }}</th>
            <td class="dataset-details">{{ _(pkg_dict.state) }}</td>
          </tr>
        {% endif %}
        {% if pkg_dict.metadata_modified %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Last Updated") }}</th>
            <td class="dataset-details">
                {% snippet 'snippets/local_friendly_datetime.html', datetime_obj=pkg_dict.metadata_modified %}
            </td>
          </tr>
        {% endif %}
        {% if pkg_dict.metadata_created %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Created") }}</th>

            <td class="dataset-details">
                {% snippet 'snippets/local_friendly_datetime.html', datetime_obj=pkg_dict.metadata_created %}
            </td>
          </tr>
        {% endif %}

        {% if pkg_dict.update_frequency and pkg_dict.update_frequency != 'None' %}
          <tr>
            <th scope="row" class="dataset-label">{{ _('Update frequency') }}</th>
            <td class="dataset-details">{{ _(pkg_dict.update_frequency.title()) }}</td>
          </tr>
        {% endif %}
        {% if pkg_dict.update_frequency_notes %}
          <tr>
            <th scope="row" class="dataset-label">{{ _('Update comments') }}</th>
            <td class="dataset-details">{{ pkg_dict.update_frequency_notes }}</td>
          </tr>
        {% endif %}

        {% set documentation = pkg_dict.documentation %}
        {% if documentation %}
          {% if 'http' in documentation %}
            {% set documentation_item = documentation %}
          {% else %}
            {% set documentation_item = '/dataset/' + pkg_dict.name + '/documentation/' + pkg_dict.id %}
          {% endif %}
          <tr>
            <th scope="row" class="dataset-label">{{ _('Documentation') }}</th>
            <td class="dataset-details"><a href="{{ documentation_item }}">{{ documentation }}</a></td>
          </tr>
        {% endif %}

        {% set access_rights = pkg_dict.access_rights %}
        {% if access_rights %}
          <tr>
            <th scope="row" class="dataset-label">{{ _('Access rights') }}</th>
            <td class="dataset-details">{{ _(access_rights.title()) }}</td>
          </tr>
        {% endif %}

        {% set temporal_start = pkg_dict.temporal_start %}
        {% set temporal_end = pkg_dict.temporal_end %}
        {% if temporal_start or temporal_end %}
          <tr>
            <th scope="row" class="dataset-label">{{ _('Temporal coverage') }}</th>
            <td class="dataset-details">{% if temporal_start %}{% snippet 'snippets/local_friendly_datetime.html', datetime_obj=temporal_start %}{% else %}?{% endif %} - {% if temporal_end %}{% snippet 'snippets/local_friendly_datetime.html', datetime_obj=temporal_end %}{% else %}?{% endif %}</td>
          </tr>
        {% endif %}

        {% set landing_page = pkg_dict.landing_page %}
        {% if landing_page %}
          <tr>
            <th scope="row" class="dataset-label">{{ _('Landing page') }}</th>
            <td class="dataset-details"><a href="{{ landing_page }}">{{ landing_page }}</a></td>
          </tr>
        {% endif %}

        {% set data_directory = pkg_dict.data_directory %}

        {% set is_in_dcat = 'Yes' if data_directory == True else 'No' %}
        <tr>
          <th scope="row" class="dataset-label">{{ _('Data directory') }}</th>
          <td class="dataset-details">{{ _(is_in_dcat) }}</td>
        </tr>

      {% block extras scoped %}
        {% for extra in h.sorted_extras(pkg_dict.extras) %}
          {% set key, value = extra %}
          <tr rel="dc:relation" resource="_:extra{{ i }}">
            <th scope="row" class="dataset-label" property="rdfs:label">{{ _(key) }}</th>
            <td class="dataset-details" property="rdf:value">{{ value }}</td>
          </tr>
        {% endfor %}
      {% endblock %}

      {% endblock %}
    </tbody>
  </table>
</section>