{% ckan_extends %}

{% block footer_links %}
<!--
  <li><a href="http://www.odlaa.dk" target="_blank"><img src="/logo-cityofaalborg.png" alt="City of Aalborg" /></a></li>
  <li><a href="http://www.odaa.dk" target="_blank"><img src="/logo-cityofaarhus.png" alt="City of Aarhus" /></a></li>
  <li><a href="http://data.kk.dk" target="_blank"><img src="/logo-cityofcopenhagen.png" alt="City of Copenhagen" /></a></li>
  <li><a href="http://odensedataplatform.dk" target="_blank"><img src="/logo-cityofodense.png" alt="City of Odense" /></a></li>
  <li><a href="http://data.vejle.dk" target="_blank"><img src="/logo-cityofvejle.png" alt="City of Vejle" /></a></li>
  <li><a href="http://rm.dk" target="_blank"><img src="/logo-regionmidtjylland.png" alt="Central Denmark Region" /></a></li>
-->
{% endblock %}

{% block footer_links_ckan %}
{% endblock %}

{% block footer_attribution %}
{% endblock %}
{% block footer_lang %}
{% endblock %}
