{% extends "page.html" %}

{% block subtitle %}{{ _('Administration') }}{% endblock %}

{% block breadcrumb_content %}{% endblock %}


{% block page_header %}
<header class="module-content page-header">
  {% if self.content_action() | trim %}
    <div class="content_action">
      {% block content_action %}{% endblock %}
    </div>
  {% endif %}
  <ul class="nav nav-tabs">
    {% block content_primary_nav %}
      {{ h.build_nav_icon('ckanadmin_index', _('Sysadmins')) }}
      {{ h.build_nav_icon('ckanadmin_config', _('Config')) }}
      {{ h.build_nav_icon('ckanadmin_trash', _('Trash')) }}
      {{ h.build_extra_admin_nav() }}
    {% endblock %}
  </ul>
  <a class="btn" id="add-user-button" href="{{ h.url_for(controller='user', action='register') }}">{{ _('Create an Account') }}</a>
</header>
{% endblock %}
