body {
        background: #000000 none !important;
}

.gravatar {
        display: none !important;
}

.box, .wrapper {
        -webkit-border-radius: 0px !important;
        -moz-border-radius: 0px !important;
        border-radius: 0px !important;
}

.navbar {
        background: #ffffff none !important;
}

ul.nav li a {
        color: #000000 !important;
}

[role=main], .main {
        background: #ffffff none !important;
}

.hero {
        background: url(/background.jpg) center center !important;
        background-size: cover !important;
}

.search-form {
        background: #e32e12 none !important;
}

.tags {
        background: #b50000 none !important;
}

.site-footer {
        background: #000000 none !important;
        color: #ffffff !important;
}

.site-footer .container {
	min-height: 100px !important;
}

.site-footer a {
        color: #ffffff !important;
}

.site-footer .footer-links {
        width: 940px !important;
}

.site-footer .footer-links ul {
        width: auto !important;
}

.site-footer .footer-links li {
        float: left !important;
        height: 30px !important;
        line-height: 30px !important;
        padding-right: 30px !important;
        width: auto !important;
}

.site-footer .footer-links li a {
        white-space: nowrap !important;
}
