body {
        background: #000000 none !important;
}

.gravatar {
        display: none !important;
}

.box, .wrapper {
        -webkit-border-radius: 0px !important;
        -moz-border-radius: 0px !important;
        border-radius: 0px !important;
}

.navbar {
        background: #ffffff none !important;
}

.navbar .nav > li a {
        color: #000000 !important;
}

.masthead .navigation .nav-pills li a:hover, .masthead .navigation .nav-pills li.active a {
        background-color: #e32e12 !important;
        color: #ffffff !important;
}

[role=main], .main {
        background: #ffffff none !important;
        min-height: 150px !important;
}

.hero {
        background: url(/background.jpg) center center !important;
        background-size: cover !important;
}

.hero .search-form {
        background: #e32e12 none !important;
}

.tags {
        background: #b50000 none !important;
}

.site-footer {
        background: #000000 none !important;
        color: #ffffff !important;
}

.site-footer .container {
	min-height: 100px !important;
}

.site-footer a {
        color: #ffffff !important;
}

.site-footer .footer-links {
        width: 940px !important;
}

.site-footer .footer-links ul {
        width: auto !important;
}

.site-footer .footer-links li {
        float: left !important;
        padding-right: 20px !important;
        width: auto !important;
}

.site-footer .footer-links li a {
        white-space: nowrap !important;
}

#promo-banner {
        background: url(/promo-banner-bg.png) repeat-x, repeat-y;
        background-size: auto 5.75em;
        border: none;
        border-radius: 0;
        font-size: large;
        display: flex;
        margin-bottom: 0;
}

#promo-banner .promo-banner-text {
        color: #444444;
        background-color: #fff;
        padding: 0.75em 1.5em;
        font-size: larger;
        margin: 0.5em auto;
        border: #e32e12;
        border-width: thick;
        border-style: solid;
}

#promo-banner button {
        margin-bottom: auto;
        padding: 0.1em 0.3em;
        background-color: white;
        opacity: 1;
        color: #444444;
        font-size: x-large;
}

#add-user-button {
        float: right;
}