{% import 'macros/dcat_form.html' as form %}
{{ field.field_name }}
<div class="dcat-row">
  <div class="dcat-container">
    {{ form.image_upload(
        data,
        errors,
        field_name=field.field_name,
        field_url=field.field_name,
        field_upload=field.upload_field,
        field_clear=field.upload_clear,
        is_upload_enabled=h.uploads_enabled(),
        is_url=data[field.field_name] and not is_upload,
        is_upload=is_upload,
        upload_label=h.scheming_language_text(field.upload_label),
        url_label=h.scheming_language_text(field.label),
        placeholder=field.form_placeholder
    )}}
  </div>
{% snippet 'scheming/form_snippets/dcat_text.html', is_required=field.is_required, field_name=field.field_name %}
</div>
