{% import 'macros/form.html' as form %}

<div class="dcat-row">
  <div class="dcat-container">
    {% call form.input(
        field.field_name,
        id='field-' + field.field_name,
        label=h.scheming_language_text(field.label),
        placeholder=h.scheming_language_text(field.form_placeholder),
        value=data[field.field_name],
        error=errors[field.field_name],
        classes=field.classes if 'classes' in field else ['control-medium'],
        attrs=dict({"class": "form-control"}, **(field.get('form_attrs', {}))),
        is_required=h.scheming_field_required(field)
        )
    %}
      {%- snippet 'scheming/form_snippets/help_text.html', field=field -%}
    {% endcall %}
  </div>
    {% set dcat_field = field.get('dcat_field', False) %}
    {% if dcat_field %}
      {% set dcat_required = field.get('dcat_required', False) %}
      {% snippet 'scheming/form_snippets/dcat_text.html', is_required=dcat_required, field_name=field.field_name %}
    {% endif %}
</div>

